<div class="container">
    <div class="row text-center mt-5">
        <div class="col">
            Applicazione nata nel gennaio 2021 con lo scopo di facilitare la gestione da parte del Master di una sessione di 7thSea.
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            Guida all'utilizzo
        </div>
        <div class="col-9">
            Pagina Players list: per gestire la lista dei giocatori presenti in sessione, consente di aggiungerne di nuovi e di modificare o eliminare quelli già presenti. <br><br> Pagina Villains list: per gestire la lista dei PNG presenti in sessione,
            consente di aggiungerne di nuovi e di modificare o eliminare quelli già presenti, da qua si può anche selezionare quelli che sono in azione e aggiungerli quindi alla lista sulla pagina Tavolo. <br><br> Pagina Tavolo: per gestire PG e PNG attualmente
            nella scena.
            <br><br> Pagina Note: per salvare dei semplici appunti, prima di lasciare la pagina bisognerà sempre confermare il salvataggio altrimenti i dati verranno persi.<br><br> Pagina Dadi: per il tiro dei dadi e il calcolo degli incrementi, al momento
            ha un piccolo bug al calcolo degli incrementi quindi serve controllare che gli incrementi segnati siano corretti, per situazioni particolari (dadi che esplodono, 15 per 2 incrementi, ecc.) si dovrà fare il calcolo, gli ultimi 3 risultati restano
            salvati e mostrati.
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            Backup dati e utilizzo su altri pc
        </div>
        <div class="col-9">
            Per facilitare l'uso in locale (quindi senza spese) ho utilizzato il locale storage, ovvero di una memoria presente su una cartella nel pc, consiglio l'utilizzo di Chrome e scrivo per quest'ultimo la guida al backup: <br> la cartella in cui
            vengono salvati i dati si trova qua: C:\Users\"NOMEPC"\AppData\Local\Google\Chrome\User Data\Default\Local Storage ("NOMEPC" da sostituire con il vostro), consiglio periodicamente di fare una copia di questa cartella per non perdere nessun
            dato, nel caso bisogna spostare i dati su un altro pc basterà sostituire la cartella local storage sul secondo pc con quella che presenta i dati
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            Continuo aggiornamento
        </div>
        <div class="col-9">
            L'app resterà in continuo aggiornamento e sono aperto a consigli per migliorarne il funzionamento, per eventuali suggerimenti mi potete contattare tramite mail:
            <a href="mailto:simone.salvaggio.94@gmail.com" class="icon fa-envelope-o"><span class="label">simone.salvaggio.94@gmail.com</span></a>
        </div>
    </div>
</div>