<div class="container-flex">
    <div class="row justify-content-center text-center">
        Punti pericolo:
    </div>
    <div class="row justify-content-center text-center">
        <button class="btn btn-outline-dark mr-2" style="padding-left: 15px; padding-right: 15px;" (click)="diminuisciPP()">-</button>
        <span style="width: 50px; height: 50px; border-radius: 5px; background-color: darkred; color: white; font-size: 33px;">{{puntiPericolo}}</span>
        <button class="btn btn-outline-dark ml-2" style="padding-left: 15px; padding-right: 15px;" (click)="aggiungiPP()">+</button>
    </div>
    <div class="row mt-4 justify justify-content-center">
        <div *ngFor="let p of arrayIniziativa; let i = index" class="col-1">
            <div (mouseover)="showSelected(p)" (mouseleave)="showNobody()">
                <div class="card text-center border border-secondary">
                    <div class="bg-warning">
                        <b>{{i+1}}°</b>
                    </div>
                    <div class="card-bodyy">
                        {{p.nome}} ({{p.incrementi}})
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <table class="table border border-primary table-hover">
                <thead id="theadeHeroes">
                    <tr>
                        <td scope="col">Nome</td>
                        <td class="text-center" scope="col">Vita</td>
                        <td class="text-center" scope="col">Incrementi</td>
                        <td class="text-center" scope="col">PE</td>
                    </tr>
                </thead>
                <tbody *ngIf="isHeroEmpty">
                    <tr *ngFor="let pg of heroesArray; let i = index" [ngClass]="{'font-weight-bold shadow text-primary':i==positionInHero}">
                        <td scope="col">{{pg.nome}}
                        </td>
                        <td class="text-center" scope="col">
                            <button class="btn btn-sm btn-outline-primary" (click)="removeVita(pg)">-</button> {{pg.vita}} <button class="btn btn-sm btn-outline-primary" (click)="addVita(pg)">+</button>
                        </td>
                        <td class="text-center" scope="col">
                            <button class="btn btn-sm btn-outline-primary" (click)="removeIncrementi(pg)">-</button> {{pg.incrementi}} <button class="btn btn-sm btn-outline-primary" (click)="addIncrementi(pg)">+</button>
                        </td>
                        <td class="text-center" scope="col">
                            <button class="btn btn-sm btn-outline-primary" (click)="removePE(pg)">-</button> {{pg.pe}} <button class="btn btn-sm btn-outline-primary" (click)="addPE(pg)">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table border border-danger table-hover">
                <thead id="theadeVillains">
                    <tr>
                        <td scope="col">Nome</td>
                        <td class="text-center" scope="col">Vita</td>
                        <td class="text-center" scope="col">Incrementi</td>
                        <td class="text-center" scope="col">Grado</td>
                        <td class="text-center" scope="col">Info</td>
                        <td *ngIf="removeMode" class="text-right" scope="col">Rimuovi</td>
                    </tr>
                </thead>
                <tbody *ngIf="isVilEmpty">
                    <tr *ngFor="let png of activeVillainsArray; let i = index" [ngClass]="{'font-weight-bold shadow text-danger':i==positionInVillain}">
                        <td scope="col">{{png.nome}}
                        </td>
                        <td class="text-center" scope="col">
                            <span *ngIf="png.forza%1==0"><button class="btn btn-sm btn-outline-danger" (click)="removeVitaVil(i)">-</button> {{png.vita}}/{{png.forza*4}} <button class="btn btn-sm btn-outline-danger" (click)="addVitaVil(i)">+</button></span>
                        </td>
                        <td class="text-center" scope="col">
                            <button class="btn btn-sm btn-outline-danger" (click)="removeIncrementiVil(i)">-</button> {{png.incrementi}} <button class="btn btn-sm btn-outline-danger" (click)="addIncrementiVil(i)">+</button>
                        </td>
                        <td class="text-center" scope="col">
                            <span *ngIf="png.forza%1==0 && png.influenza%1==0 ">
                                {{png.forza+png.influenza}}
                            </span>
                        </td>
                        <td class="text-center" scope="col">
                            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#vilInfoModal" (click)="infoModal(png)">INFO</button>
                        </td>
                        <td *ngIf="removeMode" class="text-right" scope="col">
                            <button *ngIf="i!=0" class="btn btn-outline-success btn-sm mr-1" (click)="spostaSu(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </button>
                            <button *ngIf="activeVillainsArray.length > i+1" class="btn btn-outline-success btn-sm" (click)="spostaGiu(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                                </svg>
                            </button>
                            <button class="btn btn-danger btn-sm mr-3" (click)="removeFromActive(i)">Rimuovi</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-warning" (click)="setRemoveMode()">Remove/Edit mode</button>
        </div>
    </div>
</div>

<div *ngIf="isVilEmpty" class="modal fade" id="vilInfoModal" tabindex="-1" role="dialog" aria-labelledby="vilInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vilInfoModalLabel">{{selectedPng.nome}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        Note: {{selectedPng.note}}
                        <br><br>
                    </div>
                    <div class="row mt-2">
                        <b>{{selectedPng.virtu.nome}}:</b> {{selectedPng.virtu.descrizione}}
                        <br><br>
                    </div>
                    <div class="row mt-2">
                        <b>{{selectedPng.hubris.nome}}:</b> {{selectedPng.hubris.descrizione}}
                        <br><br>
                    </div>
                    <div class="row mt-2" *ngFor="let vantaggio of selectedPng.vantaggi">
                        <b>{{vantaggio.nome}}:</b> {{vantaggio.descrizione}}
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>